<nav>
    <div class="row">
        <div class="col-md-3">
            <a class="col-sm-12 btn btn-default" href="#details" role="button">NEW EMPLOYEE</a>
            <br />
        </div>

        <div class="col-md-3">
            <a class="col-sm-12 btn btn-default" href="#details" role="button">EMPLOYEES</a>
            <br />
        </div>

        <div class="col-md-3">
            <a class="col-sm-12 btn btn-default" href="#salaries" role="button">SALARY</a>
            <br />
        </div>
        <div class="col-md-3">
            <a class="col-sm-12 btn btn-default" href="#print" role="button">EMPLOYEE DB LIST</a>
            <br />
        </div>
    </div>
</nav>

