
        <!--Section of Data-->
        <Section>
            <div class="container-fluid">


                <div class="row">
                    
                    	<!-- Title -->
						<div class="col-md-12" style="text-transform:uppercase;">
                        	<div class="col-md-2">Emp NO</div>
                            <div class="col-md-2">Full Name</div>
                            <div class="col-md-2">Position</div>
                            <div class="col-md-2">Department</div>
                            <div class="col-md-2">Hourly Rate</div>   
                            <div class="col-md-2">Salary</div>                    
                        </div>
                        
                        <div class="col-md-12">
                            

                            <div class="col-sm-8">
                                <div class="col-sm-12">{{ employees[0].employeeNo }}</div>
                                <div class="col-sm-12">{{ employees[0].firstName }}</div>
                                <div class="col-sm-12">{{ employees[0].surname }}</div>
                                <div class="col-sm-12">{{ employees[0].position }}</div>
                                <div class="col-sm-12">{{ employees[0].department }}</div>
                            </div>
                        </div>
                        
                    
                </div>

                

            </div>

        </Section>
        <!--/Section of Data/-->



    <!--Section of Data-->
    <section>
    	<div class="row col-md-12">&nbsp;</div>
        <div class="backbtn row">
            <div class="col-md-12">
                <a class="btn btn-default" role="button" href="javascript:window.history.go(0)">Go home</a>
                <a class="btn btn-default" role="button" href="javascript:window.history.go(-1)">Go back <<</a>
            </div>
        </div>
    </section>


